h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}
body {
    background-color:mediumseagreen;
}
 form {
     text-align: center;
     font-weight: 700;
    font-family: 'Courier New', Courier, monospace;

 }
input[type=text] {
    width:50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea{
    width:50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
}

input[type="submit"] {
    width: 150px;
    padding:12px 20px;
    text-align: center;
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
    font-weight:700;
}

input[type="file"] {
    content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  font-family:'Courier New', Courier, monospace;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
 
}
label {
    border: 1px solid #ccc;
    display:inline-block;
    padding: 6px 12px;
    text-align: center;
}